@font-face {
    font-family: 'Cascadia';
    src: url('Roboto/Roboto.ttf') format('truetype');
    font-weight: 100 900;
    font-stretch: 75% 100%;
    font-style: normal;
}

@font-face {
    font-family: 'Cascadia';
    src: url('Roboto/Roboto-Italic.ttf') format('truetype');
    font-weight: 100 900;
    font-stretch: 75% 100%;
    font-style: italic;
}